<ion-header no-border>
  <ion-toolbar no-padding>
    <app-toolbar HasBack="true" [Title]="HeadTitle"></app-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content class="h-creditcard-page">
  <ion-grid class="page-content" p-h-10>
    <ion-row justify-content-center>
      <ion-col col-12>
        <ion-label>付款信用卡</ion-label>
      </ion-col>
      <!-- 未添加信用卡 -->
      <ion-col col-12 class="card no-card" text-center *ngIf="!CurrentCreditCard">
        <button ion-button icon-left class="bg-transparent" (click)="AddCreditCard()">
          <ion-icon name="add-circle" color="primary"></ion-icon>
          <span ion-text color="primary">添加信用卡</span>
        </button>
      </ion-col>
      <!-- 未添加信用卡 -->

      <!-- 已添加信用卡 -->
      <ion-col col-12 class="d-flex flex-column justify-content-between card has-card" p-h-10 p-v-10 *ngIf="CurrentCreditCard">
        <div class="d-flex justify-content-between">
          <div class="flex-fill d-flex align-items-center justify-content-start">
            <ion-img class="icon-bank" src="assets/banklogo/bank_308.png" alt="银行"></ion-img>
            <span ion-text f-14 text-light m-l-5>招商银行</span>
          </div>
          <div class="flex-fill" text-right>
            <button type="button" ion-button class="bg-transparent btn-change" (click)="ChangeCreditCard()" no-padding no-margin>更换</button>
          </div>
        </div>
        <div>
          <span ion-text text-light>**** **** **** 1483</span>
        </div>
      </ion-col>
      <!-- 已添加信用卡 -->
    </ion-row>
    <ion-row justify-content-center>
      <ion-col col-12>
        <ion-label>收款储蓄卡</ion-label>
      </ion-col>
      <!-- 未添加储蓄卡 -->
      <ion-col col-12 class="card no-card" text-center *ngIf="!CurrentDepositCard">
        <button ion-button icon-left class="bg-transparent" (click)="AddDepositCard()">
          <ion-icon name="add-circle" color="primary"></ion-icon>
          <span ion-text color="primary">添加储蓄卡</span>
        </button>
      </ion-col>
      <!-- 未添加储蓄卡 -->

      <!-- 已添加储蓄卡 -->
      <ion-col col-12 class="d-flex flex-column justify-content-between card has-card" p-h-10 p-v-10 *ngIf="CurrentDepositCard">
        <div class="d-flex justify-content-between">
          <div class="flex-fill d-flex align-items-center justify-content-start">
            <ion-img class="icon-bank" src="assets/banklogo/bank_308.png" alt="银行"></ion-img>
            <span ion-text f-14 text-light m-l-5>招商银行</span>
          </div>
          <div class="flex-fill" text-right>
            <button type="button" ion-button class="bg-transparent btn-change" (click)="ChangeDepositCard()" no-padding no-margin>更换</button>
          </div>
        </div>
        <div>
          <span ion-text text-light>**** **** **** 1483</span>
        </div>
      </ion-col>
      <!-- 已添加储蓄卡 -->
    </ion-row>
  </ion-grid>
  <ion-grid class="page-content" m-t-10 p-b-10>
    <ion-row class="border-bottom-1px">
      <ion-col>
        <ion-label>收款金额(元)</ion-label>
      </ion-col>
      <ion-col col-12>
        <ion-input type="number" name="amount" ([ngModel])="Amount.InputAmount" no-margin f-30 placeholder="500-20000" p-l-5></ion-input>
      </ion-col>
    </ion-row>
    <ion-row p-t-5>
      <ion-col class="l-h-d">
        <p ion-text class="text-fee">费率：{{Rate}}%+3元，保底8元</p>
        <p ion-text class="text-t">交易时间：9:00-21:00，立即到账</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button type="button" ion-button full [disabled]="!CanGoNext" [class.btn-disabled]="!CanGoNext">下一步</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
