<ion-header no-border>
  <ion-toolbar no-padding>
    <app-toolbar HasBack="true" [Title]="HeadTitle"></app-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-page">
	<ion-grid class="page-content">
		<ion-row p-t-5>
			<ion-col col-12>
				<ion-label f-13 no-margin>证件照片</ion-label>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-6 (click)="OnChangeFile(CardFront, $event)">
				<div class="d-flex justify-content-center card border-1px">
					<img class="img" [src]="PreviewFiles[CardFront]" *ngIf="PreviewFiles[CardFront] != DefaultImg" />
					<button class="bg-transparent" icon-only *ngIf="PreviewFiles[CardFront] == DefaultImg">
						<ion-icon name="ios-add-circle-outline" color="primary"></ion-icon>
					</button>
					<ion-label class="desc" *ngIf="PreviewFiles[CardFront] == DefaultImg">身份证反面照片</ion-label>
				</div>
			</ion-col>
			<ion-col col-6 (click)="OnChangeFile(CardBack, $event)">
				<div class="d-flex justify-content-center card border-1px">
					<img class="img" [src]="PreviewFiles[CardBack]" *ngIf="PreviewFiles[CardBack] != DefaultImg" />
					<button class="bg-transparent" icon-only *ngIf="PreviewFiles[CardBack] == DefaultImg">
						<ion-icon name="ios-add-circle-outline" color="primary"></ion-icon>
					</button>
					<ion-label class="desc" *ngIf="PreviewFiles[CardBack] == DefaultImg">身份证反面照片</ion-label>
				</div>
			</ion-col>
		</ion-row>
		<!-- 示例 -->
		<ion-row>
			<ion-col col-6>
				<div class="d-flex justify-content-start align-items-start card example border-1px">
					<ion-badge color="primary" class="badge">示例</ion-badge>
					<img class="img" src="assets/imgs/zhengm.png" />
				</div>
			</ion-col>
			<ion-col col-6>
				<div class="d-flex justify-content-start align-items-start card example border-1px">
					<ion-badge color="primary" class="badge">示例</ion-badge>
					<img class="img" src="assets/imgs/zhengm.png" />
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
	<div class="page-content" m-t-10>
		<form novalidate [formGroup]="formGroup" m-t-10>
	    <ion-grid>
	      <ion-row class="d-flex align-items-center form-ctrl border-bottom-1px">
	        <ion-col col-4>姓名</ion-col>
	        <ion-col col-8><ion-input type="text" placeholder="请输入姓名" formControlName="username"></ion-input></ion-col>
	      </ion-row>

	      <ion-row class="d-flex align-items-center form-ctrl">
	        <ion-col col-4>身份证号</ion-col>
	        <ion-col col-8><ion-input type="text" placeholder="请输入身份证号" formControlName="idCardNo"></ion-input></ion-col>
	      </ion-row>
	    </ion-grid>
	  </form>
  </div>
  <ion-grid>
  	<ion-row>
  		<ion-col col-12>
  			<button type="button" class="btn-default" ion-button color="primary" full (click)="OnSubmit()">立即认证</button>
  		</ion-col>
  	</ion-row>
  </ion-grid>
</ion-content>