.auth-page {
	.card {
		position: relative;
		height: 150px;
		overflow: hidden;
		.img {
			position: absolute;
			width: 92%;
			height: 92%;
			left: 4%;
			top: 4%;
		}
		.desc {
			position: absolute;
			bottom: 8px;
		}
		.badge {
			z-index: 10;
			border-radius: 0;
		}
		[icon-only] {
			z-index: 10;
		}
		&.example {
			.img {
				position: absolute;
				width: 88%;
				height: 88%;
				left: 6%;
				top: 6%;
			}
		}
	}
	.border-1px {
		@include border-1px();
	}
}