.btn-disabled {
	background-color: $color-light-grey;
}

.btn-default {
	min-height: 4.6rem;
}

.btn-h-auto {
	height: auto;
}

.btn-home-pay {
	border-radius: 24px;
}

.btn-no-shadow {
	box-shadow: none;
}

.btn-form {
	height: auto;
	padding: 8px;
}

.btn-send {
	height: 2em;
}