<ion-header no-border>
  <ion-toolbar no-padding>
    <app-toolbar HasBack="true" [Title]="HeadTitle"></app-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-template [ngIf]="!DataEmpty">
    <div no-padding class="scroll-wrapper" #wrapperRef>
      <div class="b-scroll-content">
        <div *ngFor="let items of ListData">
          <ion-row p-l-5 p-r-10 p-v-10>
            <ion-col col-6>
              <span ion-text f-16>{{items.month}}</span>
            </ion-col>
            <ion-col col-6 text-right>
              <span ion-text f-16>￥{{items.total/100}}</span>
            </ion-col>
          </ion-row>
          <div *ngFor="let item of items.data" class="page-content border-bottom-1px" p-v-15>
            <ion-row align-items-center p-h-5 (click)="ShowDetail(item.id)">
              <ion-col col-6 [ngSwitch]="item.type">
                <p ion-text text-black-light f-16>{{item.typeText}}</p>
                <p ion-text m-t-10 class="text-gray-500">{{item.time}}</p>
              </ion-col>
              <ion-col col-6>
                <ion-row>
                  <ion-col col-12 class="d-flex justify-content-end">
                    <div class="d-flex flex-column justify-content-center">
                      <p ion-text f-15 m-b-5>￥{{item.amount/100}}</p>
                      <p ion-text f-15 color="primary" text-right>{{item.statusText}}</p>
                    </div>
                    <div class="d-flex align-items-center" m-l-10>
                      <ion-icon class="text-gray-500">&#xf3d1;</ion-icon>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </div>
    </div>
    <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
       <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll> -->
  </ng-template>
  <ng-template [ngIf]="DataEmpty">
    <div text-center p-t-50 p-b-50>
      <img src="assets/imgs/nulldata.png" alt="" width="150px">
      <p text-center text-gray-light f-1-6>你还没有收款记录哦</p>
    </div>
  </ng-template>
</ion-content>
