
<ion-header #headerRef>
  <ion-toolbar no-padding>
    <app-toolbar [HasBack]="true" [Title]="headTitle"></app-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <div class="progress" [hidden]="browser.isLoaded" #progressRef>
    <div class="progress-inner" id="progress"></div>
  </div>
  <div *ngIf="flag">
    <iframe [src]="browser.secUrl" id="iframe" class="iframe" 
      sandbox="allow-same-origin allow-scripts allow-top-navigation allow-pointer-lock allow-popups allow-forms"
      (load)="loaded()" name="targetIframe" [width]="iframeWidth" [height]="iframeHeight" #iframeRef>
    </iframe>
    <!-- <div [innerHtml]="htmltext"></div> -->
    <form class="hide" [action]="formAction" #paymentForm name="pay_form" method="post" target="targetIframe">
      <div [innerHtml]="htmltext"></div>
    </form>
  </div>
  <div *ngIf="!flag" [innerHtml]="this_html"></div>
</ion-content>