.h-checkout-page {
	.pay-amount {
		.amount {
			color: $color-dark-grey;
		}
	}
	.receive-amount {
		line-height: 30px;
	}
	.bank-wrp {
		.img {
			width: 20px;
			height: 20px;
			border-radius: 50%;
		}
	}
}