<ion-header no-border>
  <ion-toolbar no-padding>
    <app-toolbar HasBack="true" [Title]="HeadTitle"></app-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content class="u-mycard">
  <ion-segment [(ngModel)]="CardSwitch">
    <ion-segment-button value="{{CreditCard}}">
      <span ion-text f-16>信用卡</span>
    </ion-segment-button>
    <ion-segment-button value="{{DepositCard}}">
      <span ion-text f-16>储蓄卡</span>
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="CardSwitch">
    <!-- 信用卡 -->
    <div *ngSwitchCase="CreditCard">
      <!-- 已添加 -->
      <ion-grid>
        <ion-row m-t-10 *ngFor="let creditCard of CreditCards">
          <ion-col col-12 class="card page-content" p-h-10>
            <div class="d-flex justify-content-between border-bottom-1px" p-v-10>
              <div class="flex-fill d-flex align-items-center justify-content-start">
                <img src="assets/banklogo/bank_{{creditCard.code}}.png" width="30" height="30" alt="logo" />
                <div class="d-flex flex-fill flex-column justify-content-center" m-l-10>
                  <p><label f-16>{{creditCard.bank}}</label></p>
                  <p m-t-5><span ion-text f-12>**** **** **** {{creditCard.cardNo}}</span></p>
                </div>
              </div>
              <div class="flex-fill" text-right>
                <button type="button" ion-only class="bg-transparent btn-change" no-padding no-margin (click)="DelCreditCard(creditCard.id)">
                  <ion-icon f-22 name="trash" class="trash"></ion-icon>
                </button>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <ion-label class="flex-fill" ion-text text-left>{{creditCard.accountName}}</ion-label>
              <button class="d-flex flex-fill align-items-center justify-content-end bg-white">
                <ion-checkbox color="primary" [disabled]="creditCard.primary == PrimaryCard" [checked]="creditCard.primary == PrimaryCard" (ionChange)="SetPrimaryCard(CreditCard, creditCard.id)"></ion-checkbox>
                <span ion-text m-l-5>设为主卡</span>
              </button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- 未添加 -->
      <ion-grid>
        <ion-row>
          <ion-col col-12 text-center>
            <button ion-button icon-center full (click)="AddCreditCard()" class="btn-default">
              <ion-icon name="add-circle"></ion-icon>
              <span ion-text m-l-5>添加信用卡</span>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <!-- 储蓄卡 -->
    <div *ngSwitchCase="DepositCard">
      <!-- 已添加 -->
      <ion-grid>
        <ion-row m-t-10 *ngFor="let depositCard of DepositCards">
          <ion-col col-12 class="card page-content" p-h-10>
            <div class="d-flex justify-content-between border-bottom-1px" p-v-10>
              <div class="flex-fill d-flex align-items-center justify-content-start">
                <img src="assets/banklogo/bank_{{depositCard.code}}.png" width="30" height="30" alt="logo" />
                <div class="d-flex flex-fill flex-column justify-content-center" m-l-10>
                  <p><label f-16>{{depositCard.bank}}</label></p>
                  <p m-t-5><span ion-text f-12>**** **** **** {{depositCard.cardNo}}</span></p>
                </div>
              </div>
              <div class="flex-fill" text-right>
                <button type="button" ion-only class="bg-transparent btn-change" no-padding no-margin (click)="DelDepositCard(depositCard.id)">
                  <ion-icon f-22 name="trash" class="trash"></ion-icon>
                </button>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <ion-label class="flex-fill" ion-text text-left>{{depositCard.accountName}}</ion-label>
              <button class="d-flex flex-fill align-items-center justify-content-end bg-white">
                <ion-checkbox color="primary" [checked]="depositCard.primary == PrimaryCard" 
                  (ionChange)="SetPrimaryCard(DepositCard, depositCard.id)"
                  [disabled]="depositCard.primary == PrimaryCard"></ion-checkbox>
                <span ion-text m-l-5>设为主卡</span>
              </button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- 未添加 -->
      <ion-grid>
        <ion-row>
          <ion-col col-12 text-center 
            (click)="AddDepositCard()">
            <button ion-button icon-center full class="btn-default">
              <ion-icon name="add-circle"></ion-icon>
              <span ion-text m-l-5>添加储蓄卡</span>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
